@import 'materialize';
@import 'ember-cli-materialize';

nav {
    margin-bottom: 15px;
}
.profile-picture {
    width: 100px;
    border-radius: 50%;
    float: left;
}
.card-content {
    overflow: auto;
}
