{{#link-to 'dashboard.lead.create'}}
{{md-btn text='New Lead' icon='mdi-content-add'}}
{{/link-to}}

{{#md-collection content=leads header='Leads' as |lead|}}
<div class="collection-item">
    {{link-to lead.jobTitle 'dashboard.lead.show' lead class='teal-text'}}
    <div class="secondary-content teal-text text-darken-2">
        {{lead.status}}
    </div>
</div>
{{/md-collection}}
