<form {{action 'submitLead' model}}>

    {{md-input label='Company Name' value=companyName}}
    {{md-input label='Job Title' value=jobTitle}}

    {{md-btn-submit icon='mdi-content-send'
    iconPosition='right'
    text='Submit'}}
</form>
